.primaryButton {
  width: 100%;
  background: none;
  border: none;
  border-radius: 5px;
  color: white;
  background-color: var(--primary-blue);
  cursor: pointer;
}
.small {
  height: 20px;
}
.medium {
  height: 24px;
}
.large {
  height: 35px;
  max-width: 100px;
}

.primaryButton:hover {
  background-color: #0b3d91;
}

.primaryButton:active {
  background-color: #061f4a;
}
.primaryButton:disabled {
  background-color: #ccc;
}
