.calendarRoot {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 65px);
  width: 100%;
  padding: 14px;
}
.calendarHeader {
  background-color: var(--background-blue);
  border: solid 1px var(--border-medium-blue);
  border-bottom: none;
  border-radius: 14px 14px 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.calendarDaysContainer {
  background-color: var(--background-blue);
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 0.1fr repeat(4, 0.5fr);
  justify-items: center;
  overflow: auto;
  border: solid 1px var(--border-medium-blue);
  border-radius: 0 0 14px 14px;
  gap: 15px;
}

.calendaryMonthContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 5px;
}

.calendarDayNameContainer {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 1px var(--border-medium-blue);
  border-top: none;
}
.calendarDayNameContainer:nth-child(1) {
  border-left: none;
}

.calendarDayNameContainer:nth-child(7) {
  border-right: none;
}
.calendarDayName {
  margin: 0;
}
