* {
  box-sizing: border-box;
}
html {
  --scrollbarBG: #ffffff;
  --thumbBG: #2f2e2e;
}
body {
  margin: 0;
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}
*::-webkit-scrollbar {
  width: 17px;
}

*::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG);
  border-radius: 14px;
  border: 3px solid var(--scrollbarBG);
}

*::-webkit-scrollbar-thumb:hover {
  background-color: var(--thumbBG);
}

main {
  background-color: #f1f1f1;
}
:root {
  --primary-blue: #105bd8;
  --background-gray: #f1f1f1;
  --background-blue: #dce4ef;
  --border-medium-blue: #046b99;
  --border-dark-blue: #061f4ac2;
}
