.daySkeleton {
  width: 100%;
  height: 40px;
  margin: 10px;
  background-color: #ccc;
  border-radius: 5px;
  animation: pulse 1.5s ease-in-out infinite;

  @media screen and (min-width: 576px) {
    height: 80px;
  }
  @media screen and (min-width: 768px) {
    height: 110px;
  }
  @media screen and (min-width: 1200px) {
    height: 140px;
  }
}

.largeSkeleton {
  width: 100vw;
  height: calc(100vh - 65px);
  background-color: #ccc;
  padding: 5px;
  border-radius: 5px;
  animation: pulse 1.5s ease-in-out infinite;
}

@keyframes pulse {
  0% {
    background-color: #ccc;
  }
  50% {
    background-color: #f3f3f3;
  }
  100% {
    background-color: #ccc;
  }
}
